.navbar {
  width: 100%;
  background: #06141B; /* Azul petróleo escuro */
  border-bottom: 1px solid #253745; /* Azul grafite sutil */
  position: sticky;
  top: 0;
  z-index: 50;
  font-family: "Poppins", Arial, sans-serif;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #CCD0CF; /* Cinza suave */
  cursor: pointer;
  letter-spacing: 0.5px;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

a {
  text-decoration: none;
}

.navbar-links a {
  color: #9BA8AB; /* Cinza claro */
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s;
}

.navbar-links a:hover {
  color: #CCD0CF; /* Cinza suave */
  transform: translateY(-2px);
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-buttons {
  display: flex;
  gap: 0.5rem;
}

/* Botão contornado */
.btn-outline {
  padding: 0.5rem 1rem;
  border: 1px solid #9BA8AB; /* Cinza claro */
  background: none;
  color: #9BA8AB;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-outline:hover {
  background: #253745; /* Azul grafite */
  color: #CCD0CF; /* Cinza suave */
}

/* Botão principal */
.btn-primary {
  padding: 0.5rem 1rem;
  background: #4A5C6A; /* Cinza azulado */
  color: #CCD0CF; /* Cinza suave */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background: #9BA8AB; /* Cinza claro */
  color: #06141B; /* Azul petróleo escuro */
}

.navbar-menu {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #9BA8AB; /* Cinza claro */
  cursor: pointer;
  transition: color 0.2s;
}

.navbar-menu:hover {
  color: #CCD0CF; /* Cinza suave */
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-contact {
    display: none;
  }

  .navbar-menu {
    display: block;
  }
}
